header{
    
    background-color: rgb(138, 138, 211);
    height: 50px;
    width: auto;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 50px;
    
}



.lists{
    display: flex;
    align-items: center;
    justify-content:end;
    gap: 35px;
    
}
 .logo {
    width: 50px;
    height: 20px;
    position: absolute;
    object-fit: cover; 
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 50%;
    
 }

 .port-div {
    width: 100px;
    height: 100px;
    border-radius: 40%;
   margin-top: 10px;
   margin-bottom: -20px;
   
 } 
 .img-div{
    width:auto;
    align-content: center;
    gap: 20px;
    padding-left: 10px;
    /* border: solid yellow; */

 }
 .main-port{
    width: min-content;
    
 }
.main-div{
    height:auto;
    width: auto;
    background-color: rgb(232, 218, 218);
    border: red;
    /* background-color: rgb(165, 165, 251); */
    
}
.hero1{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    font: 20px sans-serif;
    /* border: solid black; */
   
} 

.about-div{
    width: 450px;
}
 .work-div{
    width: 450px;
    padding-left: 18px;
    
}

.pro{
    width: 350px;
    /* border: solid yellow; */
    }

a{
    text-decoration: none;
    color: blue;
}

.cert-div {
    padding-top: 2rem;
}

.cert1, .cert2, .cert3, .cert4 {
    margin-top: 12px;
}

.divline{
    height: 10px;
    background-color: rgb(185, 172, 172); /* Black line */
    margin-top: 60px;
    border-radius: 50px;
    margin:2rem 6rem;
}

.hero2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
    margin-top: 15px;
    font: 20px sans-serif;
    /* border: solid black; */
}

    .resida-div{
        display: flex;
        align-items: center;
        gap:10px;
    }

    .react-div{
        width: 14px;
        height: 14px;
        background: transparent;
       
    }

    .auth-div, .landing-div{
        display: flex;
        align-items: center;
        gap: 7px;


    }

    .footer-div{
        display:flex; 
        background-color: rgb(138, 138, 211);
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        /* border: solid orangered; */
        height: 100px;
        width: auto;
        border-radius: 50px;
        margin: 0 5rem;
        gap: 8rem;
        
        
    }
    .contact{
        color: blue;
        cursor: pointer;
        border: none;
        border-radius: 10%;
        
    }
    .contact:hover{
        color: white;
    }

     .footer-content{
        display: flex;
        align-items: center;
        gap: 10px;
    } 

    .copyline{
        width: 100%;
        height: 2px;
        background-color: #000; /* Black line */
        margin-top: 60px;
    }

    .email, .twiter, .github, .whatsapp {
        width: 20px;
        height: 22px;
        border-radius: 5%;
        cursor: pointer;
    }

    .landing, .auth, .resida{
        color: rgb(77, 77, 255);
        cursor: pointer;
        border: none;
        
    }

    .hero3{
        width: auto;
        /* border: solid green;  */
        display: flex;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        justify-content: center;
        align-items: center;
        padding-left:10px;
        padding-right: 10px;
        margin-left: 20px;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .p1, .p2, .p3, .p4, .p5, .p6, .p7{
      height: 90px;
        width: 105px;
        animation: slide 5s linear infinite;
    }

    @keyframes slide {
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(-100%);
        }
    }


    /* responsiveness */
    @media only screen and (max-width: 768px) {
        .main-div{
            width: 80%;
            background-color: red;
        }
    }